<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find open_manipulator_gazebo_modified)/config/panda_arm_controller.yaml" command="load"/>
  <rosparam file="$(find open_manipulator_gazebo_modified)/config/panda_gripper_controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint1_effort
                          joint2_effort
                          joint3_effort
                          joint4_effort
                          joint5_effort
                          joint6_effort
                          joint7_effort
                          gripper_position1
                          gripper_position2"/>

  <!-- Run gripper sub position publisher -->
  <node name="omx_gripper_sub_publisher" pkg="open_manipulator_gazebo_modified" type="omx_gripper_sub_publisher" output="screen"/>
</launch>
