<?xml version="1.0" ?>
<launch>
 <arg name="robot_ip" />
  <arg name="load_gripper" default="true" />
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>


 <rosparam command="load" file="$(find cobot_experimental_controller)/config/cobot_experimental_controller.yaml" />
 <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="panda_cobot_controller"/>
 <node pkg="line_manipulation_control_law_publisher" type="line_rviz_publisher_node" output="screen" name="line_rviz_publisher_node"/>
 <node pkg="line_manipulation_control_law_publisher" type="geometry_publisher_node" output="screen" name="geometry_publisher_node"/>
 <node pkg="line_manipulation_control_law_publisher" type="user_controller_publisher_node" output="screen" name="user_controller_publisher_node"/>
 <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find cobot_experimental_controller)/launch/rviz/franka_description_with_marker.rviz"/>
 <!--node name="interactive_marker" pkg="cobot_experimental_controller" type="interactive_marker.py" required="true" output="screen">
   <param name="link_name" value="panda_link0" />
 </node-->
 <!--node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" /-->
 <node pkg="joy" type="joy_node" name="joy_node" output="screen">
  <param name="dev" value="/dev/input/js0" />
  <param name="deadzone" value="0.1" />
  <param name="autorepeat_rate" value="20.0" />
</node>

<node name="rqt" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find rqt_cobot)/config/cobot_gui.perspective" output="screen"/>
</launch>



