<?xml version="1.0"?>
<launch>
  <arg name="debug" default="false" />
  
  <!--Load Gazebo empty world-->
  <include file="$(find franka_gazebo)/launch/gazebo_launch.launch"/>
  
  <!-- Load the URDF into the ROS Parameter Server -->
  <include file="$(find franka_description_gazebo)/launch/franka_upload.launch"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model franka -z 0.0 -param robot_description"/>
  
  <!-- Run a python script to send tf for fixed joint to rviz-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>
  
  <!-- Run controller utils -->
  <include file="$(find franka_gazebo)/launch/controller_utils.launch"/>
  
  <!-- ros_control robotis manipulator launch file -->
  <include file="$(find franka_gazebo)/launch/franka_controller.launch"/>

  <include file="$(find line_manipulation_control_law_publisher)/launch/control_law_and_rviz_display.launch"/>
</launch>

